@import "tailwindcss"; /* Agar ye file ke top par tha toh isko rehne dena */

:root {
    --background: #EAEFE9; /* Original website ka cream background */
    --foreground: #333333; /* Text color */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-serif: var(--font-playfair)-;
}
